/record/
/.venv/
/.idea/
/AI_RAG_Agent/chroma_db/
/AI_RAG_Agent/logs/
/AI_RAG_Agent/__pycache__/
/AI_RAG_Agent/docs/
/AI_RAG_Agent/.env.example
/AI_RAG_Agent/.gitignore
/AI_RAG_Agent/chroma_db
/AI_RAG_Agent/logs
/AI_RAG_Agent/__pycache__
/chroma_db/
/logs/
/__pycache__/
*.pyc
md5.text
/outputs/
/.pytest_tmp/
